<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark w-100" th:fragment="navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="#" target="_blank" th:href="@{/}">
            <strong>Shortest</strong>
        </a>

        <!-- Collapse -->
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank" th:href="@{/swagger-ui}">
                        <i class="fa-solid fa-code"></i>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>


<footer class="bg-dark footer text-center text-white mt-auto" th:fragment="footer">
    <div class="container p-1">
        <section class="mb-1">
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:votm777@naver.com" role="button">
                <i class="fa-solid fa-at"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Demi-Ad" role="button">
                <i class="fa-brands fa-github"></i>
            </a>
        </section>

        <section class="mb-1">
            <p>
                This product includes GeoLite2 data created by MaxMind, available from
                <a href="https://www.maxmind.com">https://www.maxmind.com</a>
            </p>
        </section>
    </div>

    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="">Demi</a>
    </div>

</footer>


</body>
</html>