<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shortest - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/index.css">



    <style>
        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }

        .navbar{background-color:rgba(0,0,0,.2)}

        @media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
    </style>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="banner-image">
        <div class="container-fluid p-0">

            <th:block th:replace="component/component :: navbar"/>

        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Url Shorten<i class="fa-solid fa-link ms-2"></i></h5>
                        <p class="card-text">Shorten Your URL And Use It Conveniently</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">URL Analysis<i class="fa-solid fa-chart-line ms-2"></i></h5>
                        <p class="card-text">Convenient Redirect Analysis Of Shortened URLs</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">URL API<i class="fa-solid fa-code ms-2"></i></h5>
                        <p class="card-text">Easier And More Convenient Access Using APIs.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container mt-5 mb-5" id="short-area">
        <div class="input-group">
            <input class="form-control rounded-3 typed" type="url" id="url-input">
            <button class="btn btn-outline-primary rounded-3" id="short-btn">
                Shorten
                <span class="spinner-border spinner-border-sm" id="spinner" style="display: none"></span>
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row" id="result">

        </div>
    </div>

</main>

<th:block th:replace="component/component :: footer"/>


<script src="https://kit.fontawesome.com/cea288457b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>

</body>
</html>